
.starfield-container {
    background-color: black;
    height: 100%;
    width: 100%;
}

.starfield {
    background-color: black;
    height: 100%;
    width: 100%;
  }
  
  @keyframes pulse_animation {
    0% { transform: scale(1); opacity: 0.2 }
    10% { transform: scale(1); opacity: 0.8 }
    30% { transform: scale(1.3); opacity: 1 }
    50% { transform: scale(1); opacity: 1 }
    60% { transform: scale(0.8); opacity: 0.4 }
    70% { transform: scale(1); opacity: 0.8}
    80% { transform: scale(1.3); opacity: 1}
    100% { transform: scale(1); opacity: 0.4}
  }
  
  .star {
    border-radius: 50%;
    transition: all 1s ease;
  }
  
  .star:hover {
    opacity: 0.4;
  }
  
  .pulse {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  button {
      margin-top: 25px;
  }

  .star-count {
      text-align: center;
  }

  p {
      color: white;
  }